* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}

.nav {
    display: flex;
    justify-content: center;
    background-color: #1f2937;
}

.nav-container {
    max-width: 1000px;
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    color: #e5e7eB;
    padding: .7em 0;

}

.nav-container h2 {
    font-size: 24px;
}

.nav-right {
    list-style: none;
    display: flex;
    gap: 16px;
    font-size: 14px;
}

.nav-right a {
    text-decoration: none;
    color: #e5e7eB;
}

.hero {
    background-color: #1f2937;
    color: #e5e7eB;
    display: flex;
    justify-content: center;
    padding: 4em 0;
}

.hero-container {
    max-width: 1000px;
    display: flex;
    flex: 1;
    justify-content: space-between;

}

.left-hero {
    max-width: 450px;
    font-size: 18px;
}

.left-hero a {
    background-color: #3882f6;
    color: #e5e7eB;
    text-decoration: none;
    padding: .3em 1.2em;
    border-radius: 6px;
    font-weight: 500;
    flex: 1;
}

.left-hero p {
    margin-bottom: .8em;
}

.left-hero h1 {
    font-size: 48px;
}

.right-hero {
    background-color: rgb(130, 130, 130);
    flex: 1;
    max-width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

main h2 {
    text-align: center;
    margin: 1.5em;
}

.main-container {
    display: flex;
    justify-content: center;
    padding-bottom: 5em;
}

.content-squares {
    display: flex;
    flex: 1;
    justify-content: center;
    max-width: 1200px;
    color: #7f7f80;
    gap: 50px;

}

.square {
    width: 150px;
    height: 150px;
    border: 3px solid #3882f6;
    border-radius: 10px;
    margin-bottom: .5em;
}

.content {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 150px;
}

.quote {
    background-color: #e5e7eB;
    padding: 6em;
    display: flex;
    justify-content: center;
}

.container {
    max-width: 800px;
    display: flex;
    flex-direction: column;

    font-size: 36px;
    font-weight: 200;
    font-style: italic;
}

.container cite {
    margin-left: auto;
    font-size: 20px;
}

.cta {
    padding: 6em;

}

.cta-container {
    background-color: #3882f6;
    color: #e5e7eB;
    padding: 2em;
    display: flex;
    justify-content: center;
    max-width: 800px;
    margin: auto;
    border-radius: 10px;
}

.info-container {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    max-width: 600px;
}

.info p {
    font-weight: 200;
    font-size: 14px;
}

.info-container a {
    text-decoration: none;
    color: #e5e7eB;
    font-size: 14px;
    font-weight: 400;
    border: 1px solid #e5e7eB;
    padding: .3em 1.3em;
    border-radius: 7px;
}

.footer {
    background-color: #1f2937;
    color: white;
    padding: 2em;
    text-align: center;
}

.footer h4 {
    font-family: 8px;
    font-weight: 100;
}